:root {
  --background-color: rgb(0, 0, 0);
  --foreground-color: rgb(0, 0, 0);
  --text-color: rgb(0, 0, 0);
  --error-color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 12px;
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  width: 100%;
}

.capsulen-tagline {
  color: var(--foreground-color);
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}

.access {
  width: 300px;
}

.access__logo {
  margin-bottom: 2rem;
  text-align: center;
}

.access__form {
  margin-bottom: 1.5rem;
  position: relative;
}

.access__form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.access__form legend {
  color: var(--foreground-color);
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.access__input {
  margin-bottom: 1.5rem;
  position: relative;
}

.access__input label {
  display: block;
  font-variant: all-petite-caps;
  margin-bottom: 0.5rem;
}

.access__input input {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.input-error {
  background-color: var(--error-color);
  border-radius: 0 0 0.5rem 0.5rem;
  font-weight: bold;
  margin-top: -0.5rem;
  padding: 1rem;
  padding-top: 1.5rem;
}

.private-key-toggle {
  position: absolute;
  right: 0;
  top: 1.65rem;
}

.btn {
  background-color: var(--foreground-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--background-color);
  cursor: pointer;
  display: block;
  font-variant: all-petite-caps;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.btn--full {
  width: 100%;
}

.btn--left-flat {
  border-radius: 0 0.5rem 0.5rem 0;
}

.btn--inverse {
  background-color: transparent;
  border: 2px solid var(--foreground-color);
  color: var(--text-color);
}

.btn--short {
  padding: 0.5rem 1rem;
}

.notice {
  border: 1px solid var(--foreground-color);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.posts {
  width: 600px;
}

.posts__header {
  margin-bottom: 2rem;
  position: relative;
}

.posts__logout {
  position: absolute;
  right: 0;
  top: 0;
}

.posts__form {
  margin-bottom: 1.5rem;
}

.posts__form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.posts__form legend {
  color: var(--foreground-color);
  display: block;
  font-variant: all-petite-caps;
  margin-bottom: 0.5rem;
  width: 100%;
}

.posts__textarea {
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  resize: vertical;
  width: 100%;
}

.hr {
  background-color: var(--foreground-color);
  border-radius: 0.25rem;
  height: 0.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  width: 100%;
}
